:root {
  --text: #ddd;
  --bg: #111;
}

body {
  color: var(--text);
  font-family: Arial;
  background-color: var(--bg);
}

#game {
  display: flex;
  align-items: center;
  justify-content: center;
}

input, button {
  color: var(--text);
  margin: 0px;
  padding: 4px;
  border: 3px var(--text) solid;
  border-radius: 0.5rem;
  background-color: transparent;
}